body{
    background-color: #1e1e1e;
    text-align: center;
    color: white;
    font-family: Arial;
    background-image: url(./icons/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color: #2828fd;
    margin-left: 5px;
}

div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

#copy{
    font-size: 10px;
    margin-top: 0px;
}

#submit{
    margin-top: 5px;
}

button{
    border-radius: 5px;
    border: 1px solid rgb(88, 86, 86);
}